.hire-form {
    height: 100vh;
    max-width: 60%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 1.5rem;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

    .form-group label span {
        color: var(--color-primary)
    }

.form-group input,
.form-group textarea{
    width: 100%;
}

.hire-form .btn{
    width: fit-content;
    padding: 1rem 1.5rem
}